@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

/* HEADER */
header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

/* RESPONSIVE NAV */
@media (max-width: 995px) {
    nav {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        background-color: #161616;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem;
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}

/* HOME SECTION */
section {
    min-height: 100vh;
    padding: 5rem 9%;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.home h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: #b74b4b;
}

.home-content h3 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.home-content p {
    font-size: 1.6rem;
}

/* IMAGE */
.home-img img {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 25px #b74b4b;
    transition: 0.2s;
}

/* SOCIAL ICONS */
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    color: #b74b4b;
    transition: 0.3s;
}

.social-icons a:hover {
    color: black;
    background-color: #b74b4b;
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px #b74b4b;
}

/* BUTTON */
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

/* RESPONSIVE HOME */
@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media (max-width: 995px) {
    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.5rem;
    }

    .home h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}

#typing {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}

/* Fix posisi teks typed */
#typed-intro {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}

#typed-role {
    font-size: 5rem;
    font-weight: 700;
    color: white;   /* <<< warna putih */
}

/* Warna "Hi, I'm" */
.hi {
    color: white;
}

/* Warna "Adi" */
.name {
    color: #b74b4b;
}

/* Warna "I'm a" */
.static-role {
    color: white;
    font-size: 5rem;
    font-weight: 700;
}

#typed-im-a {
    color: white;
    font-size: 5rem;
    font-weight: 700;
    margin-right: 1rem
    ;
}